<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minhaz.muhammad.pstudiary2019">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ExternalActivity"></activity>
        <activity android:name=".EmergencyActivity" />
        <activity android:name=".RegisterOfficeActivity" />
        <activity android:name=".GeneralServicesActivity" />
        <activity android:name=".VeterinaryList" />
        <activity android:name=".LandManagementList" />
        <activity android:name=".NutritionAndFoodList" />
        <activity android:name=".DisasterManagementList" />
        <activity android:name=".BusinessAdministrationManagementList" />
        <activity android:name=".ComputerScienceList" />
        <activity android:name=".FisheriesList" />
        <activity android:name=".DeveloperActivity" />
        <activity android:name=".AgricultureList" />
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>